/* PAGINAS */
* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background: linear-gradient(209deg, rgb(255, 255, 255) 0%, rgb(29, 253, 247) 50%, rgb(255, 255, 255) 100%);
  }
  
  footer {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  h1 {
    color: black;
    padding: auto;
    border: 10px solid black;
    margin: auto;
    position: relative;
    text-align: center;
  }
  
  h2 {
    margin-top: 10px;
    border: 10px solid black;
    color: black;
    position: relative;
    text-align: center;
  }
  
  h3 {
    color: black;
  }
  
  h5 {
    color: black;
  }
  
  p {
    color: black;
  }