/* RECORDS */
.p1 {
    width: 20%;
    height: 20%;
    transition: width 2s;
    transition: linear;
  }
  
  .p2 {
    width: 20%;
    height: 20%;
    transition: width 2s;
    text-align: right;
  }
  
  .p3 {
    width: 20%;
    height: 20%;
    transition: width 2s;
  }
  
  .p4 {
    width: 20%;
    height: 20%;
    transition: width 2s;
  }
  
  .p5 {
    width: 20%;
    height: 20%;
    transition: width 2s;
  }
  
  .p6 {
    width: 20%;
    height: 20%;
    transition: width 2s;
  }
  
  .p7 {
    width: 20%;
    height: 20%;
    transition: width 2s;
  }
  
  .p8 {
    width: 20%;
    height: 20%;
    transition: width 2s;
  }
  
  #p1 {
    transition-timing-function: ease-in-out;
  }
  
  #p2 {
    transition-timing-function: ease-in-out;
  }
  
  #p3 {
    transition-timing-function: ease-in-out;
  }
  
  #p4 {
    transition-timing-function: ease-in-out;
  }
  
  #p5 {
    transition-timing-function: ease-in-out;
  }
  
  #p6 {
    transition-timing-function: ease-in-out;
  }
  
  #p7 {
    transition-timing-function: ease-in-out;
  }
  
  #p8 {
    transition-timing-function: ease-in-out;
  }
  
  .section:hover {
    width: 300px;
  }
  